
BODY {padding: 0px; margin: 0px; font-size: 12px; font-family: Helvetica,Arial,sans-serif; color: #444}
.loading {position: absolute; left: 0; top: 0;}
.loading .loadingBg {position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #FFF}
.loading .loadingImg {position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../images/spinner.gif) no-repeat center center !important;}
.ui-tabs .ui-tabs-panel {position: relative; min-height: 200px}

.grid25 {width: 25%}
.grid33 {width: 33%}
.grid50 {width: 50%}
.grid66 {width: 66%}
.grid75 {width: 75%}
.grid100 {width: 100%}

INPUT.text {display: inline-block; vertical-align: middle; padding: 0.4em 0.8em; border-radius: 2px; border: 1px solid #aaaaaa}
INPUT.text.expired, TABLE td.expired {background-color: #ff7148 }
SELECT {width: 160px;}
SELECT.small {width: 140px;}
SELECT.wide {width: 180px;}
INPUT.large {width: 180px;}
.key {font-family: monospace;}
.ui-selectmenu-button {vertical-align: middle}
.custom-combobox {position: relative; display: inline-block;}
	.custom-combobox-toggle {position: absolute; top: 0; bottom: 0; margin-left: -1px; padding: 0;}
	.custom-combobox-input { margin: 0; padding: 5px 10px;}
TABLE.list, DIV.table.list {border: 1px solid #EEE; border-spacing: 0; border-collapse: collapse}
TABLE.list th, TABLE.list td, DIV.table.list SPAN.th, DIV.table.list SPAN.td, 
TABLE.dataTable tbody th, TABLE.dataTable tbody td {border: 1px solid #EEE; padding: 5px 10px; text-align: left}
TABLE.dialog-table {width: 100%}
TABLE.dialog-table td {padding: 8px;}
TD.highlight-green {background-color: #d0efa9; text-align: center}
TD.highlight-red {background-color: #ff7148; text-align: center}
TD.highlight-green .ui-icon, TD.highlight-red .ui-icon {margin: 0 auto;}
DIV.table {display:table; padding: 5px 10px;}
FORM.tr, DIV.tr {display:table-row;}
SPAN.td, SPAN.th {display:table-cell;}
FIELDSET {border: 1px solid #aaaaaa}
DIV.message {position: fixed; z-index: 1000}
DIV.message DIV.ui-state-highlight, DIV.message DIV.ui-state-error {padding: 0 0.7em}
HR.vert {display: inline-block; width: 0; height: 26px; margin: 0 0.5em; vertical-align: middle; border: 1px solid #aaaaaa}
.dialog#keylist TEXTAREA {width: 98%; height: 98%; font-family: monospace}
.slider-container {display: inline-block; width: 180px; margin: 0px 10px; vertical-align: bottom}
.slider-container INPUT {width: 50px;}
.ui-selectmenu-menu .ui-menu {max-height: 200px;}
.ui-tabs .ui-tabs-nav .reload {float: right; border: none;}
.ui-tabs .ui-tabs-nav .button_refresh {padding: 0; border: none;}